<p>Oi,<strong>{{nome}}</strong></p>
<p>Seu email foi registado na plataforma Restiva com sucesso.</p>
<br>

<p>Use o link abaixo para acessar a plataforma: 
    <a href='http://{{restivaHost}}:{{restivaPort}}/' target="_blank">
        Plataforma Restiva
    </a>
    <ul style="list-style: none;">
        <li><strong>Senha:</strong>{{passwordGen}}</li>
        <li><strong>Nome do utilizador:</strong>:{{userName}}</li>
    </ul>
</p>

<p>
    Obrigado! equipa da <spam style="color: darkgreen;">RESTIVA</spam>.
</p>