<p>Olá, {{username}}!</p>
<p>Recebemos um pedido de recuperação de senha da sua conta na RESTIVA.</p>
<p>Não se preocupe! Você pode usar o seguinte link para redefinir sua senha: 
    <a href='{{restivaUrl}}/nova-senha/{{token}}' target="_blank">
        {{restivaUrl}}/nova-senha/{{token}}
    </a>
</p>
<p>
    Se você não usar este link dentro de uma hora, ele expirará. 
   Para obter um novo link de redefinição de senha, visite: 
    <a href='{{restivaUrl}}/esqueceu-senha' target="_blank">
        {{restivaUrl}}/esqueceu-senha
    </a>
</p>
<br/>
<p>
    Obrigado, <br/>equipa da RESTIVA.
</p>