/*Datatable header style*/
.table > thead > tr > th {
    font-size: 13px;
    font-weight: 600;
    text-transform: unset;
}


/*data tables*/
#tabela-overflow-x {
  overflow-x: auto;
}

#tabela-content {
  min-width: 950px;
  padding: 10px;
}

/*nav tabs*/
.nav-tabs .nav-item {
    cursor: pointer;
}

/* cor verde */
.bg-verde-r {
  background-color: #00A651 !important;
}

.text-verde-r {
  color: #00A651 !important;
}

input[type="password"] {
  font: small-caption;
  font-size:15px
}

.badge {
  font-size: 99% !important;
}

.zoom, .zoomUsuarioLogado {
  transition: transform .5s ease;transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
}

.zoom:hover {
  transform: scale(1.5) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.zoomUsuarioLogado:hover {
  transform: scale(2.5) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.linkStyle {
  cursor: pointer;
}

.linkStyle:hover {
  text-decoration: underline;
}

/*Axios progress Bar style*/
#nprogress .bar {
    background: #6bd098 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #6bd098, 0 0 5px #6bd098 !important;
}

#nprogress .spinner-icon {
    border-top-color: #6bd098 !important;
    border-left-color: #6bd098 !important;
}
